NTT-DESA-DATAFACTORY1/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Nombre de instancia de Data Factory",
			"defaultValue": "NTT-DESA-DATAFACTORY1"
		},
		"ls_blob_covidbs_connectionString": {
			"type": "secureString",
			"metadata": "Cadena protegida para \"connectionString\"de \"ls_blob_covidbs\""
		},
		"ls_dls_coviddl_accountKey": {
			"type": "secureString",
			"metadata": "Cadena protegida para \"accountKey\"de \"ls_dls_coviddl\""
		},
		"ls_dls_coviddl_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://coviddl90.dfs.core.windows.net/"
		},
		"trigger_blob_storage_covid_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/5cb19fab-52a4-44ca-aa7d-21bc173ce9bd/resourceGroups/NTT-DESA-NG/providers/Microsoft.Storage/storageAccounts/covidbs90"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/ls_blob_covidbs')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('ls_blob_covidbs_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_dls_coviddl')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ls_dls_coviddl_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('ls_dls_coviddl_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/trigger1')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 15,
						"startTime": "2023-03-15T16:46:00Z",
						"endTime": "2023-03-15T19:40:00Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_covid_population_raw_bs')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_blob_covidbs",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "covid_population.csv",
						"container": "population"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "date",
						"type": "String"
					},
					{
						"name": "state",
						"type": "String"
					},
					{
						"name": "city",
						"type": "String"
					},
					{
						"name": "place_type",
						"type": "String"
					},
					{
						"name": "confirmed",
						"type": "String"
					},
					{
						"name": "deaths",
						"type": "String"
					},
					{
						"name": "order_for_place",
						"type": "String"
					},
					{
						"name": "is_last",
						"type": "String"
					},
					{
						"name": "estimated_population_2019",
						"type": "String"
					},
					{
						"name": "city_ibge_code",
						"type": "String"
					},
					{
						"name": "confirmed_per_100k_inhabitants",
						"type": "String"
					},
					{
						"name": "death_rate",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_blob_covidbs')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_covid_population_raw_dl')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_dls_coviddl",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "covid_population.csv",
						"fileSystem": "raw"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_dls_coviddl')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_ingestion_covid_population_data')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Validation presencia del archivo",
						"type": "Validation",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_covid_population_raw_bs",
								"type": "DatasetReference",
								"parameters": {}
							},
							"timeout": "0.00:02:00",
							"sleep": 10
						}
					},
					{
						"name": "Get Metadata1",
						"type": "GetMetadata",
						"dependsOn": [
							{
								"activity": "Validation presencia del archivo",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_covid_population_raw_bs",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"columnCount",
								"exists",
								"size"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "If Condition1",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Get Metadata1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(activity('Get Metadata1').output.columnCount,12)",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "Web_error",
									"type": "WebActivity",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": "http://trial",
										"method": "POST",
										"headers": {},
										"body": "Fallo"
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "Copy Covid Data_copy_true",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 1,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "date",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "date",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "state",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "state",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "city",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "city",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "place_type",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "place_type",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "confirmed",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "confirmed",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "deaths",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "deaths",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "order_for_place",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "order_for_place",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "is_last",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "is_last",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "estimated_population_2019",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "estimated_population_2019",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "city_ibge_code",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "city_ibge_code",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "confirmed_per_100k_inhabitants",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "confirmed_per_100k_inhabitants",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "death_rate",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "death_rate",
														"type": "String",
														"physicalType": "String"
													}
												}
											],
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "ds_covid_population_raw_bs",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_covid_population_raw_dl",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								},
								{
									"name": "Eliminar_Datos",
									"description": "eliminación del archivo origen",
									"type": "Delete",
									"dependsOn": [
										{
											"activity": "Copy Covid Data_copy_true",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "ds_covid_population_raw_bs",
											"type": "DatasetReference",
											"parameters": {}
										},
										"enableLogging": false,
										"storeSettings": {
											"type": "AzureBlobStorageReadSettings",
											"recursive": true,
											"enablePartitionDiscovery": false
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2023-02-06T03:30:37Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_covid_population_raw_bs')]",
				"[concat(variables('factoryId'), '/datasets/ds_covid_population_raw_dl')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/trigger_blob_storage_covid')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pl_ingestion_covid_population_data",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/population/blobs/covid_population.csv",
					"ignoreEmptyBlobs": true,
					"scope": "[parameters('trigger_blob_storage_covid_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pl_ingestion_covid_population_data')]"
			]
		}
	]
}